/*
1: #141c20;
2: #055b8c;
3: #fff;
4: #dd5625;
5: #57656d;
6: #b9c6cd;
7: #f3f7f9;
8: #e4e4e4;
*/


  $color-1 : #141c20;
  $color-2 : #055b8c;
  $color-3 : #ffffff;
  $color-5 : #57656d;
  $color-6 : #b9c6cd;
  $color-7 : #f3f7f9;
  $color-white: #FFFFFF;
  $title-color: #5F5E64;
  $main-text-color:#57656D;
  $text-accent:#055B8C;
  $background-dark: #5F5E64;
  $background-light: #E4E4E4;

  //5F5E64
ul,
p ,
*,
::after,
::before,
input[type="checkbox"], label,
h1,
h2,
h3,
{
  margin: 0;
  padding: 0;
}

body,  {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.485714285714286;
  background-color: $background-light;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  transition: color 0.1s;
  &:hover {
    text-decoration: none;
  }
}
section {
  margin-bottom: 80px;
}
svsg {
  height: 100%;
}
.container {
  max-width: 1440px;
}
.header {
  &__wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__menu {

    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: $title-color;
    //& .left-menu {
    //  display: flex;
    //  justify-content: space-between;
    //  align-items: center;
    //  column-gap: 28px;
    //  height: 100%;
    //
    //}
  }
  &__content_btn .link{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    text-align: right;
    color: $text-accent;
    font-weight: 700;
    line-height: 1.07;
  }
  &__search_wrapper {
    display: none;
    position: absolute;
    //width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    form {
      display: flex;
    }
    input {
      padding: 13px 29px;font-family: "M PLUS Rounded 1c", sans-serif;
      font-size: 14px;
      padding: 13px 29px;
      border: none;
      border-radius: 0;
      display: block;

    }
    input:focus {
      border-radius: 0;
    }
    input[type="text"] {
      width: 100%;
      color: #525B60;
      &:focus-visible{
        border-radius: 0;
        //outline: 0;
        -moz-outline-radius: 0;
        outline: 1px solid $text-accent;
        margin-right: 1px;
      }
    }
    input[type="submit"] {

      color: #ffffff;
      background-color: $color-2;
      cursor: pointer;
    }
    &.active {
      display: block;
    }
  }
  &__social_box{
    display: flex;
    gap: 14px;
    .social_link svg{
      fill:#141C20;

    }
    .social_link:hover svg{
      fill: $text-accent;
    }
    .social_link.telegram:hover svg>g>path:last-child{
      stroke: $text-accent;

    }
  }
  &__callback {
    text-align: right;

  }
  &__phone{
    font-weight: 700;
    font-size: 22px;
    color: $color-1;

  }
  &__callback_form {
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    color: $color-2;
  }
}
.breadcrumb {
  background: none;
  margin-bottom: 10px;
}

.anonce {

  background-color: #5F5E64;
  padding: 47px 0 48px;
   .category__item {
    width: 144px;
    height: 199px;
     position: relative;
    &_pict {
      object-fit: cover;
      object-position: center;
      //width: 144px;
      //height: 199px;
    }
     &_title{
       position: absolute;
       //bottom: 50px;
       top: 113px;
       text-align: center;
       left: 0;
       right: 0;
       text-transform: uppercase;
       font-size: 16px;
       line-height: 1.12;
       font-weight: 700;
       width: 113px;
       margin: 0 auto;
     }
  }
  .anonce__item {
    position: relative;
  }
  .section__name {
    position: absolute;
    top: 89px;
    font-weight: 800;
    font-size: 22px;
    text-transform: uppercase;
    color: $color-white;
    &::after {
      content: '';
      position: absolute;
      background: url(/img/after_accent.svg);
      width: 112px;
      height: 4px;
      bottom: -6px;
    }
  }

  .section_pict {
    border: 3px solid #17171B;
  }
  .anonce__item_first .section__name {
    text-align: right;
    right: 38px;
    width: 303px;
    &::after {
      right: 0;
    }
  }
  .anonce__item_second .section__name {
    text-align: left;
    left: 38px;
    width: 204px;
    &::after {
      left: 0;
    }
  }
  .central_icon {
    padding: 24px 0 20px;
    text-align: center;
  }
}
//.section__title {
//  font-weight: 400;
//  font-size: 40px;
//}
.section__title {
  font-weight: 700;
  font-size: 40px;
  color: #055b8c;
}

.section__news {
  padding: 30px 0 0;
  .section__news.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }
  .btn_text {
    font-weight: 700;
    font-size: 18px;
    color: $color-2;
    position: relative;
    line-height: 1;
    &::before {
      content: '';
      position: absolute;
      background: url(/img/after_accent.svg);
      background-size: contain;
      width: 48px;
      height: 3px;
      bottom: 6px;
      left: 0;
      transform: translateX(calc((-100% - 6px)));
    }
  }


}
.section__advantages {
  padding-top: 20px ;
  margin-bottom: 50px;
}
.news-list {
  .news-item {
    position: relative;

    &-pict {
      width: 100%;
      height: 192px;
    }
    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
    }
    //&-link:hover .news-item-title {
    //  color: $color-2;
    //}
    .news-item-title {
      color: $color-2

    }
    &:hover .news-item-title {
      color: $color-1
    }
    a:hover {
      text-decoration: none;
    }

  }

  .news-date-time {
    position: absolute;
    top: 8px;
    right: 15px;
    font-weight: 800;
    font-size: 14px;
    color: $color-2;
    pointer-events: none;
  }
  .preview_picture {
    width: 100%;
    height: 100%;
    object-position: left top;
    object-fit: cover;
  }
}
.section__title {
  margin-bottom: 10px;
}
.advantages-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:  24px;
  .advantages-item {
    background-color: $color-7;
    padding: 16px 30px;
    transition: all 0.3s;
    position: relative;
    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05), 0 0 64px 0 rgba(0, 0, 0, 0.05);
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 4px;
        //transform: translateY(-100%);
        background: url("/img/after_accent.svg") no-repeat;
        background-size: cover;
      }
    }
    &-header {
      display: flex;
      gap: 9px;
      align-items: center;
      margin-bottom: 3px;

      .preview_picture {
        width: 37px;
        height: 37px;
      }
      .advantages-item-title {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;

      }

    }
    &.-text {
      font-size: 15px;
      color: $color-5;
    }
  }
}
.section__about {
  margin-bottom: 115px;
  .section__wrapper {
    position: relative;
    //text-align: right;
    //margin-left: auto;
    padding: 15px 0 25px;
    .section__pict {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      //background-image: linear-gradient(90deg, rgba(255, 255, 255, 0%) 0%,  rgba(255, 255, 255, 0%) 50%, rgba(255, 255, 255, .69) 70.3%, #fff 100%);
    }
    .section__title {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 112px;
        height: 4px;
        background-image: url(/img/after_accent.svg);
        -webkit-background-size: cover;
        background-size: cover;
      }
    }

  }

  .section__content {
    //position: absolute;
    width: 903px;
    margin-left: auto;
      .section__text {
        margin-bottom: 18px;
      }
      .btn_more {
        font-weight: 700;
        font-size: 18px;
        color: $color-2;
        position: relative;
        padding-right: 5px;
        &::after {
          position: absolute;
          content: '';
          right: 0;
          bottom: 0;
          width: 48px;
          height: 3px;
          background-image: url("/img/after_accent.svg");
          -webkit-background-size: contain;
          background-size: contain;
          -webkit-transform: translateX(100%) translateY(-5px);
          -moz-transform: translateX(100%) translateY(-5px);
          -ms-transform: translateX(100%) translateY(-5px);
          -o-transform: translateX(100%) translateY(-5px);
          transform: translateX(100%) translateY(-5px);
        }
      }


    //top: 15px;
    //right: 0;
  }

}

.section__form {
  margin-bottom: 36px;
  border-top: 1px solid #B9C6CD;
  padding-top: 38px;
  .form__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 105%;
    color: $color-2;
    margin-bottom: 31px;
    margin-top: 0;
  }
  .form__decription {
    font-size: 16px;
    line-height: 1.34;
    color: $color-5;
    max-width: 342px;
  }
  .form__inputs input {
    border: 1px solid $color-6;
    width: 462px;
    height: 48px;
    padding-left: 20px;
  }
  .form__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 26px;
    margin-bottom: 27px;
  }
  .form__checkbox {
    margin-bottom: 25px;
    input[type=checkbox] {
      position: absolute;
      z-index: -1;
      opacity: 0;

      & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;

        &::before {
          content: '';
          display: inline-block;
          width: 1em;
          height: 1em;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid $color-6;
          border-radius: 0;
          margin-right: 0.5em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }

      }

    }
     label {
       font-weight: 400;
     }
  }
  .form__checkbox input[type=checkbox]:checked+label::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    background-color: $color-2;
  }
  .form__btn button {
    padding: 9px 22px 11px;
    background-color: $color-2;
    color: #ffffff;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    border: 0;
  }
}
.footer {
  color: #ffffff;
  section {
    margin-bottom: 0;
  }

  .footer__top {
    padding: 60px 0 63px;
    background-color: #5F5E64;
    .footer__first_section {
      display: flex;
      justify-content: flex-start;
      gap: 13px;
      .section_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section_menu {
          font-weight: 700;
          text-transform: uppercase;
          .left-menu li {
            margin-bottom: 14px;
          }
        }
      }
      .bx-form-control,
      .bx-input-group-btn {
       background: #6f6e74;
        border: none;
        height: 40px;
        color: $color-3;
      }
      .bx-input-group-btn button {
        background: #6f6e74;

      }
    }
    .footer__second_section {
      text-transform: uppercase;
      .left-menu li {
        margin-bottom: 15px;
      }
    }
    .footer__third_section {
      .footer__social_box {
        margin-bottom: 30px;
      }
      .footer__social_box_title{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 9px;
      }
      .footer__social_box_link {
        display: flex;
        gap: 14px;

        .social_link svg{
          fill: #ffffff;


        }
        .social_link.telegram svg g path:nth-last-child(1) {

            stroke: #ffffff;

        }
        .social_link:hover svg{
          fill: $text-accent;
        }
        .social_link.telegram:hover svg>g>path:last-child{
          stroke: $text-accent;

        }
      }
    }
    .footer__phone {
      font-weight: 800;
      font-size: 20px;
      color: #bbe6ff;
    }
  }
  .footer__bottom {
    padding: 15px 0;
    background-color: $color-2;
    .footer__bottom_inner {
      display: flex;
      justify-content: space-between;
    }

  }
}

.popup {
  padding:70px 38px ;
  h4 {
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #202125;
  }
  p {
    text-align: center;
    font-size: 19px;
    color: $color-5;

  }

}
.catalog {
  .title {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 40px;
    color: $color-1;
    margin-bottom: 41px;
  }
  .list__categories {
    display: grid;
    grid-template: repeat(2, 480px) / 7fr 5fr;
    gap: 24px;
    margin-bottom: 63px;
    .category__item {
      overflow: hidden;
      position: relative;
      .category__item_title {
        font-weight: 800;
        font-size: 22px;
        text-transform: uppercase;
        color: $color-3;
        width: 210px;
        position: absolute;
        top: 22px;
        left: 42px;
        line-height: 1.48;
        &::after {
          content: '';
          position: absolute;
          background: url("/img/after_accent.svg");
          width: 112px;
          height: 4px;
          bottom: -10px;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
      &:hover .category__item_title::after {
        opacity: 1;
      }
      &.item-2 .category__item_title {
        left: unset;
        right: 47px;
        text-align: right;
        &::after {
          right: 0;
          left: unset;
        }
      }
      &.item-1 .category__item_title {
        top: unset;
        bottom: 36px;
      }
    }
    .item-2 {
      grid-row: 1 / span 2;
      grid-column: 2 /span 2;
    }

    .category__item_pict {
      width: 100%;
      object-fit: contain;
    }
    .category__item.item-2 .category__item_pict {
      height: 100%;
      width: unset;
      object-fit: cover;
    }
  }
  .product-item-list-col-4 {
    margin-bottom: 30px;
  }
}
.catalog_description {
  margin-bottom: 41px;
  &_text {
    max-width: 903px;
  }
  .section__title {
    font-weight: 700;
    font-size: 40px;
    color: $color-2;
  }
}
// Smart filter
.bx-filter {
  input[type=checkbox]+label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  input[type=checkbox]+label::before {
    border-color: $color-5;
    width: 17px;
    height: 17px;
  }
  input[type=checkbox]:checked+label::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: $color-2;
    right: 12px;
  }
  span.bx-filter-parameters-box-hint {
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    color: $color-1;
  }
}

// ===Smart filter

.product-item-container {
  max-width: 270px;
}
//list items in sections
.product-item {
  position: relative;
  transition: box-shadow 0.3s ;
  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05), 0 0 64px 0 rgba(0, 0, 0, 0.05);

  }
  &:hover  .product-item-chacteristics {
    visibility: visible;
    opacity: 1;
  }
  .product-item-label-text {
    position: absolute;
    top: 1px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 2;
    .label {
      line-height: 30px;
      background-color: #DD5625;
      border-radius: 0;
      text-transform: uppercase;
      z-index: 2;
      text-align: center;
    }
    .label-IS_NEW {
      background-color: #0A8B43;
    }

  }
}
.product-item-title-wrapper {
  text-align: center;
  padding: 17px 11px 19px;
  background-color: white;
  .product-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    text-align: center;
    color: $color-5;
    margin-bottom: 10px;
  }
  .btn {
    border: 1px solid $color-2;
    background-color: white;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: $color-2;
    border-radius: 0;
    padding: 15px;
    width: 180px;
    &:hover {
      background-color: $color-2;
      color: $color-3;
    }
  }
}
.product-item-image-original {
 position: relative;

  .product-item-chacteristics {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(5, 91, 140, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;

    &-title {
      font-weight: 800;
      font-size: 16px;
      color: $color-3;
    }
    &-wrapper {

      padding: 31px 17px;
    }
    .chacteristic-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-6;
      font-weight: 500;
      font-size: 12px;
      line-height: 250%;
      color: $color-3;

    }

}
.product-item-image-original img {
  width: 100%;
}

}

.bx_pagination_page {
  text-align: center;
  ul {
    display: inline-flex;
    li {
      padding: 14px 20px;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: $color-1;
      border: 1px solid $color-6;
      &.bx_active {
        background-color: $color-2;
        color: $color-3;
        border-color: $color-2;
      }
    }
  }
  .pag_arrow {
    width: 16px;
    height: 18px;
  }
  span.to_right,
  span.to_left {
    border-left: 16px solid $color-2;
    display: inline-block;
    //width: 16px;
    //height: 18px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    vertical-align: middle;
  }
  span.to_left {
    border-right: 16px solid $color-2;
    display: inline-block;
    border-left: 0;

  }
}


//list items in sections

// product detail card
.catalog {
  margin-bottom: 42px;
  h1 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 16px;
  }
  .product-item-detail-main-info {
    margin-bottom: 44px;
  }
  .product-item-detail-slider-block.product-item-detail-slider-block-square {
    position: relative;
    width: 547px;
    height: 472px;
    .product-item-label-text.product-item-label-big.product-item-label-top.product-item-label-right {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: $color-3;
      span {
        background-color: #DD5625;
        padding: 0;
        margin: 0;
        font-size: 12px;
      }
      .IS_HIT {
        background-color: #DD5625;
        //height: 30px;
        padding: 6px 8px;
        text-align: center;
        span {
          background-color: inherit;

        }
      }

      .IS_NEW {
        background-color: #0A8B43;
        padding: 6px 8px;
        //height: 30px;
        span {
          background-color: inherit;
        }
      }
    }

    .product-item-detail-slider-images-container {
      height: inherit;
      overflow: hidden;
      .product-item-detail-slider-image {
        text-align: center;
        height: inherit;
        img {
          height: inherit;
          object-fit: cover;
        }
        .product-item-detail-slider-image-link {
          cursor: zoom-in;
        }
      }
    }
  }
  .product-item-detail-info-section {
    margin-bottom: 24px;
    .product-item-detail-detail-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 144%;
      color: $color-5;
    }

  }
  .calculate-button {
    width: 100%;
    height: 50px;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    background-color: $color-2;
    color: $color-3;
    border: 0;
    margin-bottom: 14px;
  }
  .product-item-detail-properties {
    .product-item-detail-info-container-title {
      font-weight: 800;
      font-size: 16px;

    }
    .properties-link {
      text-align: center;
      font-weight: 800;
      font-size: 16px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-align: center;
      color: $color-2;
    }

  }
  .char-item {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid $color-6;
    dt,
    dd {
      font-weight: 400;
      font-size: 14px;
      line-height: 214%;
      color: $color-5;
    }

  }
  .slider {
    margin-bottom: 63px;
    .slider-section-title {
      font-weight: 400;
      font-size: 40px;
      margin-bottom: 3px;
    }
    .slick-arrow {
      position: absolute;
      z-index: 3;
      top: 50%;
      cursor: pointer;
      line-height: 0;
    }
    .slick-prev {
      left: 0;
      transform: translate(-200%, -50%);

    }
    .slick-next {
      right: 0;
      transform: translate(200%, -50%);

    }
    .slider-item {
      //max-width: 261px;

      .slider-item-pict {
        object-fit: cover;
        height: 261px;
        width: 95%;
      }
    }
  }

  .charakteristics {
    margin-bottom: 57px;
    .product-item-charakteristics-title {
      font-weight: 400;
      font-size: 40px;

    }
    .product-item-group-wrapper {
      margin-bottom: 14px;
    }
    .product-item-group-char {
      font-weight: 800;
      font-size: 16px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
    .product-item-schema {
      text-align: right;
      .schema-pict {
        width: 579px;
        height: 418px;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
  .add-items {
    .product-item-add-items-title {
      font-weight: 400;
      font-size: 40px;
      margin-bottom: 43px;
    }
    .product-item-container {
      max-width: unset;
    }
    .product-item-image-original img{
      width: 100%;
    }
  }
  .add-items {
    margin-bottom: 0;
  }
}
.projects {
  h1{
    font-weight: 500;
    font-size: 40px;
    color: $color-1;
    margin-bottom: 29px;
  }
  .news-list-item {
    margin-bottom: 30px;
    .box_pict {
      position: relative;
      margin-bottom: 12px;
      .pict_magnify {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        transition: opacity 0.3s;
        transform: translate(-50%, -50%);
      }
    }
    .card .box_pict::after {
      opacity: 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      transition: opacity 0.3s;
      z-index: 2;
    }
    .card:hover {
      .box_pict::after {
        opacity: 1;
      }
      .pict_magnify {
        opacity: 1;
      }
    }

    .card-text {
      font-weight: 400;
      font-size: 13px;
      color: #000;
    }
  }

  .card-img-top {
    width: 100%;
  }
}

// !product detail card

// news

.news,
.about {
  h1 {
    font-weight: 600;
    font-size: 40px;
    color: $color-1;
    margin-bottom: 29px;
  }
  .first-section {
    margin-bottom: 60px;
  }
  .news-item {
    margin-bottom: 42px;
  }
  .news-detail-detail-text {
    margin-bottom: 29px;
  }
  .arrow-name {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-2;
  }
  .arrows span {
    vertical-align: middle;
  }
  .arrow {
    display: inline-block;
    height: 18px;
    width: 15px;
    border: 9px solid transparent;


  }
  .next {
    border-right: 15px solid $color-2;
    margin-right: 10px;
  }
  .prev {
    border-left: 15px solid $color-2;
    margin-left: 10px;


  }
}
// !news