/*
1: #141c20;
2: #055b8c;
3: #fff;
4: #dd5625;
5: #57656d;
6: #b9c6cd;
7: #f3f7f9;
8: #e4e4e4;
*/


  $color-1 :#141c20;
  $color-2 :#055b8c;
  $title-color: #5F5E64;
  $main-text-color:#57656D;
  $text-accent:#055B8C;
  $background-dark: #5F5E64;
  $background-light: #E4E4E4;

  //5F5E64
ul, p , *, ::after, ::before {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.485714285714286;
  background-color: $background-light;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
}
svg {
  height: 100%;
}
.container {
  max-width: 1440px;
}
.header {
  &__wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__menu {

    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: $title-color;
    //& .left-menu {
    //  display: flex;
    //  justify-content: space-between;
    //  align-items: center;
    //  column-gap: 28px;
    //  height: 100%;
    //
    //}
  }
  &__content_btn .link{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    text-align: right;
    color: $text-accent;
    font-weight: 700;
    line-height: 1.07;
  }
  &__search_wrapper {
    display: none;
    position: absolute;
    //width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    form {
      display: flex;
    }
    input {
      padding: 13px 29px;font-family: "M PLUS Rounded 1c", sans-serif;
      font-size: 14px;
      padding: 13px 29px;
      border: none;
      border-radius: 0;
      display: block;

    }
    input:focus {
      border-radius: 0;
    }
    input[type="text"] {
      width: 100%;
      color: #525B60;
      &:focus-visible{
        border-radius: 0;
        //outline: 0;
        -moz-outline-radius: 0;
        outline: 1px solid $text-accent;
        margin-right: 1px;
      }
    }
    input[type="submit"] {

      color: #ffffff;
      background-color: $color-2;
      cursor: pointer;
    }
    &.active {
      display: block;
    }
  }
  &__social_box {
    display: flex;
    gap: 14px;
    .social_link svg{
      fill:#141C20;

    }
    .social_link:hover svg{
      fill: $text-accent;
    }
    .social_link.telegram:hover svg>g>path:last-child{
      stroke: $text-accent;

    }
  }
  &__callback {
    text-align: right;

  }
  &__phone{
    font-weight: 700;
    font-size: 22px;
    color: $color-1;

  }
  &__callback_form {
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    color: $color-2;
  }
}
.anonce {
  background-color: #5F5E64;
  padding: 47px 0 48px;
}