/*
1: #141c20;
2: #055b8c;
3: #fff;
4: #dd5625;
5: #57656d;
6: #b9c6cd;
7: #f3f7f9;
8: #e4e4e4;
*/
ul, p, *, ::after, ::before {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4857142857;
  background-color: #E4E4E4;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
}

svg {
  height: 100%;
}

.container {
  max-width: 1440px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__menu {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #5F5E64;
}
.header__content_btn .link {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  text-align: right;
  color: #055B8C;
  font-weight: 700;
  line-height: 1.07;
}
.header__search_wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.header__search_wrapper form {
  display: flex;
}
.header__search_wrapper input {
  padding: 13px 29px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 14px;
  padding: 13px 29px;
  border: none;
  border-radius: 0;
  display: block;
}
.header__search_wrapper input:focus {
  border-radius: 0;
}
.header__search_wrapper input[type=text] {
  width: 100%;
  color: #525B60;
}
.header__search_wrapper input[type=text]:focus-visible {
  border-radius: 0;
  -moz-outline-radius: 0;
  outline: 1px solid #055B8C;
  margin-right: 1px;
}
.header__search_wrapper input[type=submit] {
  color: #ffffff;
  background-color: #055b8c;
  cursor: pointer;
}
.header__search_wrapper.active {
  display: block;
}
.header__social_box {
  display: flex;
  gap: 14px;
}
.header__social_box .social_link svg {
  fill: #141C20;
}
.header__social_box .social_link:hover svg {
  fill: #055B8C;
}
.header__social_box .social_link.telegram:hover svg > g > path:last-child {
  stroke: #055B8C;
}
.header__callback {
  text-align: right;
}
.header__phone {
  font-weight: 700;
  font-size: 22px;
  color: #141c20;
}
.header__callback_form {
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  color: #055b8c;
}

.anonce {
  background-color: #5F5E64;
  padding: 47px 0 48px;
}
.anonce .category__item {
  width: 144px;
  height: 199px;
  position: relative;
}
.anonce .category__item_pict {
  object-fit: cover;
  object-position: center;
}
.anonce .category__item_title {
  position: absolute;
  top: 113px;
  text-align: center;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 700;
  width: 113px;
  margin: 0 auto;
}
.anonce .anonce__item {
  position: relative;
}
.anonce .section__name {
  position: absolute;
  top: 89px;
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.anonce .section__name::after {
  content: "";
  position: absolute;
  background: url(/img/after_accent.svg);
  width: 112px;
  height: 4px;
  bottom: -6px;
}
.anonce .section_pict {
  border: 3px solid #17171B;
}
.anonce .anonce__item_first .section__name {
  text-align: right;
  right: 38px;
  width: 303px;
}
.anonce .anonce__item_first .section__name::after {
  right: 0;
}
.anonce .anonce__item_second .section__name {
  text-align: left;
  left: 38px;
  width: 204px;
}
.anonce .anonce__item_second .section__name::after {
  left: 0;
}
.anonce .central_icon {
  padding: 24px 0 20px;
  text-align: center;
}

/*# sourceMappingURL=template_styles.css.map */
