/*
1: #141c20;
2: #055b8c;
3: #fff;
4: #dd5625;
5: #57656d;
6: #b9c6cd;
7: #f3f7f9;
8: #e4e4e4;
*/
ul,
p,
*,
::after,
::before,
input[type=checkbox], label,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4857142857;
  background-color: #E4E4E4;
}

ul {
  list-style: none;
}

a,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
  height: 100%;
  transition: color 0.1s;
}
a:hover,
a:active:hover,
a:focus:hover {
  text-decoration: none;
}

section {
  margin-bottom: 80px;
}

svsg {
  height: 100%;
}

.container {
  max-width: 1440px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__wrapper-mobile {
  position: relative;
}
.header__wrapper-mobile .header__phone {
  font-size: 14px;
}
.header__wrapper-mobile .header__callback_form {
  font-size: 12px;
}
.header__wrapper-mobile .menu-btn {
  border: none;
  background-color: transparent;
  padding-left: 21px;
}
.header__wrapper-mobile .header__menu {
  position: absolute;
  top: 0;
  left: -8px;
  width: 100vw;
  height: 100vh;
  background: #e4e4e4;
  z-index: 5;
  padding: 10px 20px;
}
.header__wrapper-mobile .header__menu .left-menu {
  display: block;
  height: unset;
}
.header__wrapper-mobile .header__menu .left-menu li {
  line-height: 3;
}
.header__wrapper-mobile .header__menu .header__search_wrapper {
  display: block;
  position: static;
}
.header__wrapper-mobile .header__menu button.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  border: none;
  background: transparent;
  line-height: 1;
}
.header__wrapper-mobile .header__menu .search-form {
  margin-bottom: 15px;
}
.header__wrapper-mobile .header__menu .header__social_box {
  gap: 30px;
}
.header__wrapper-mobile .header__menu .header__social_box svg {
  width: 40px;
  height: 40px;
}
.header__wrapper .header__search_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__wrapper .header__search_btn .search_btn {
  display: inline-block;
  height: 22px;
}
.header__menu {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #5F5E64;
}
.header__content_btn .link {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  text-align: right;
  color: #055B8C;
  font-weight: 700;
  line-height: 1.07;
}
.header__search_wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.header__search_wrapper form {
  display: flex;
}
.header__search_wrapper input {
  padding: 13px 29px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 14px;
  padding: 13px 29px;
  border: none;
  border-radius: 0;
  display: block;
}
.header__search_wrapper input:focus {
  border-radius: 0;
}
.header__search_wrapper input[type=text] {
  width: 100%;
  color: #525B60;
}
.header__search_wrapper input[type=text]:focus-visible {
  border-radius: 0;
  -moz-outline-radius: 0;
  outline: 1px solid #055B8C;
  margin-right: 1px;
}
.header__search_wrapper input[type=submit] {
  color: #ffffff;
  background-color: #055b8c;
  cursor: pointer;
}
.header__search_wrapper.active {
  display: block;
}
.header__social_box {
  display: flex;
  gap: 14px;
  align-items: center;
}
.header__social_box .social_link {
  height: 28px;
}
.header__social_box .social_link svg {
  fill: #141C20;
}
.header__social_box .social_link:hover svg {
  fill: #055B8C;
}
.header__social_box .social_link.telegram:hover svg > g > path:last-child {
  stroke: #055B8C;
}
.header__callback {
  text-align: right;
}
.header__phone {
  font-weight: 700;
  font-size: 22px;
  color: #141c20;
}
.header__callback_form {
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  color: #055b8c;
}

.fa {
  transform: unset;
}

.callback_form .title,
.cost_form .title {
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  color: #202125;
}
.callback_form .form__inputs,
.cost_form .form__inputs {
  row-gap: 16px;
}
.callback_form .form__inputs input,
.cost_form .form__inputs input {
  width: 100%;
}
.callback_form .form-item textarea,
.cost_form .form-item textarea {
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  height: 113px;
  border: 1px solid #b9c6cd;
}

.breadcrumb {
  background: none;
  margin-bottom: 10px;
}

.anonce {
  background-color: #5F5E64;
  padding: 47px 0 48px;
}
.anonce .category__item {
  width: 100%;
  max-height: 199px;
  position: relative;
  border: 3px solid #17171b;
}
.anonce .category__item_pict {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.anonce .category__item_title {
  position: absolute;
  top: 113px;
  text-align: center;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 700;
  width: 113px;
  margin: 0 auto;
}
.anonce .anonce__item {
  position: relative;
}
.anonce .anonce__item_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.anonce .section__name {
  position: absolute;
  top: 89px;
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.anonce .section__name::after {
  content: "";
  position: absolute;
  background: url(/img/after_accent.svg);
  width: 112px;
  height: 4px;
  bottom: -6px;
}
.anonce .section_pict {
  border: 3px solid #17171B;
  width: 100%;
}
.anonce .anonce__item_first .section__name {
  text-align: right;
  right: 38px;
  width: 303px;
}
.anonce .anonce__item_first .section__name::after {
  right: 0;
}
.anonce .anonce__item_second .section__name {
  text-align: left;
  left: 38px;
  width: 204px;
}
.anonce .anonce__item_second .section__name::after {
  left: 0;
}
.anonce .central_icon {
  text-align: center;
}
@media (max-width: 1400px) {
  .anonce .central_icon svg {
    width: 20vw;
  }
  .anonce .category__item_title {
    top: 50%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .anonce .anonce__item .section__name {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
    width: 75%;
  }
  .anonce .section__name::after {
    width: 39px;
    height: 1.38px;
    background-size: contain;
    background-image: url("/img/mobile_after_accent.svg");
  }
  .anonce .anonce__item_first .section__name {
    right: 24.5px;
    top: 17px;
  }
  .anonce .anonce__item_second .section__name {
    left: 24.5px;
    top: 17px;
    width: 90px;
  }
  .anonce .category__item {
    height: unset;
    max-height: unset;
  }
  .anonce .category__item_title {
    top: 50%;
    width: 95%;
  }
}

.section__title {
  font-weight: 700;
  font-size: 40px;
  color: #055b8c;
}

.section__news {
  padding: 30px 0 0;
}
.section__news .section__news.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.section__news .btn_text {
  font-weight: 700;
  font-size: 18px;
  color: #055b8c;
  position: relative;
  line-height: 1;
}
.section__news .btn_text::before {
  content: "";
  position: absolute;
  background: url(/img/after_accent.svg);
  background-size: contain;
  width: 48px;
  height: 3px;
  bottom: 6px;
  left: 0;
  transform: translateX(calc(-100% - 6px));
}

.section__advantages {
  padding-top: 20px;
  margin-bottom: 50px;
}

.news-list .news-item {
  position: relative;
}
.news-list .news-item-pict {
  width: 100%;
  height: 192px;
}
.news-list .news-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}
.news-list .news-item .news-item-title {
  color: #055b8c;
}
.news-list .news-item:hover .news-item-title {
  color: #141c20;
}
.news-list .news-item a:hover {
  text-decoration: none;
}
.news-list .news-date-time {
  position: absolute;
  top: 8px;
  right: 15px;
  font-weight: 800;
  font-size: 14px;
  color: #055b8c;
  pointer-events: none;
}
.news-list .preview_picture {
  width: 100%;
  height: 100%;
  object-position: left top;
  object-fit: cover;
}

.section__title {
  margin-bottom: 10px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 338px));
  gap: 24px;
}
.advantages-list .advantages-item {
  background-color: #f3f7f9;
  padding: 16px 30px;
  transition: all 0.3s;
  position: relative;
}
.advantages-list .advantages-item:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05), 0 0 64px 0 rgba(0, 0, 0, 0.05);
}
.advantages-list .advantages-item:hover::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: url("/img/after_accent.svg") no-repeat;
  background-size: cover;
}
.advantages-list .advantages-item-header {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 3px;
}
.advantages-list .advantages-item-header .preview_picture {
  width: 37px;
  height: 37px;
}
.advantages-list .advantages-item-header .advantages-item-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.advantages-list .advantages-item.-text {
  font-size: 15px;
  color: #57656d;
}

.section__about {
  margin-bottom: 115px;
}
.section__about .section__wrapper {
  position: relative;
  padding: 15px 0 25px;
}
.section__about .section__wrapper .section__pict {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section__about .section__wrapper .section__title {
  position: relative;
}
.section__about .section__wrapper .section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 112px;
  height: 4px;
  background-image: url(/img/after_accent.svg);
  -webkit-background-size: cover;
  background-size: cover;
}
.section__about #map {
  width: 951px;
  height: 544px;
}
.section__about .section__content {
  width: 903px;
  margin-left: auto;
}
.section__about .section__content .section__text {
  margin-bottom: 18px;
}
.section__about .section__content .btn_more {
  font-weight: 700;
  font-size: 18px;
  color: #055b8c;
  position: relative;
  padding-right: 5px;
}
.section__about .section__content .btn_more::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 48px;
  height: 3px;
  background-image: url("/img/after_accent.svg");
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transform: translateX(100%) translateY(-5px);
  -moz-transform: translateX(100%) translateY(-5px);
  -ms-transform: translateX(100%) translateY(-5px);
  -o-transform: translateX(100%) translateY(-5px);
  transform: translateX(100%) translateY(-5px);
}

.section__form {
  margin-bottom: 36px;
  border-top: 1px solid #B9C6CD;
  padding-top: 38px;
}

.form__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 105%;
  color: #055b8c;
  margin-bottom: 31px;
  margin-top: 0;
}

.form__decription {
  font-size: 16px;
  line-height: 1.34;
  color: #57656d;
  max-width: 342px;
}

.form__inputs input {
  border: 1px solid #b9c6cd;
  width: 462px;
  height: 48px;
  padding-left: 20px;
}

.form__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  margin-bottom: 27px;
}

.form__checkbox {
  margin-bottom: 25px;
}
.form__checkbox input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox input[type=checkbox] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form__checkbox input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #b9c6cd;
  border-radius: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form__checkbox label {
  font-weight: 400;
}

.form__checkbox input[type=checkbox]:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  background-color: #055b8c;
}

.footer .form__checkbox input[type=checkbox]:checked + label::after {
  background-color: #ffffff;
}

.form__btn button {
  padding: 9px 22px 11px;
  background-color: #055b8c;
  color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
  border: 0;
}

.footer {
  color: #ffffff;
}
.footer section {
  margin-bottom: 0;
}
.footer .footer__top {
  padding: 60px 0 63px;
  background-color: #5F5E64;
}
.footer .footer__top .footer__first_section {
  display: flex;
  justify-content: flex-start;
  gap: 13px;
}
.footer .footer__top .footer__first_section .section_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer__top .footer__first_section .section_wrapper .section_menu {
  font-weight: 700;
  text-transform: uppercase;
}
.footer .footer__top .footer__first_section .section_wrapper .section_menu .left-menu li {
  margin-bottom: 14px;
}
.footer .footer__top .footer__first_section .bx-form-control,
.footer .footer__top .footer__first_section .bx-input-group-btn {
  background: #6f6e74;
  border: none;
  height: 40px;
  color: #ffffff;
}
.footer .footer__top .footer__first_section .bx-input-group-btn button {
  background: #6f6e74;
}
.footer .footer__top .footer__second_section {
  text-transform: uppercase;
}
.footer .footer__top .footer__second_section .left-menu li {
  margin-bottom: 15px;
}
.footer .footer__top .footer__third_section .footer__social_box {
  margin-bottom: 30px;
}
.footer .footer__top .footer__third_section .footer__social_box_title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 9px;
}
.footer .footer__top .footer__third_section .footer__social_box_link {
  display: flex;
  gap: 14px;
}
.footer .footer__top .footer__third_section .footer__social_box_link .social_link svg {
  fill: #ffffff;
}
.footer .footer__top .footer__third_section .footer__social_box_link .social_link.telegram svg g path:nth-last-child(1) {
  stroke: #ffffff;
}
.footer .footer__top .footer__third_section .footer__social_box_link .social_link:hover svg {
  fill: #055B8C;
}
.footer .footer__top .footer__third_section .footer__social_box_link .social_link.telegram:hover svg > g > path:last-child {
  stroke: #055B8C;
}
.footer .footer__top .footer__phone {
  font-weight: 800;
  font-size: 20px;
  color: #bbe6ff;
}
.footer .footer__bottom {
  padding: 15px 0;
  background-color: #055b8c;
}
.footer .footer__bottom .footer__bottom_inner {
  display: flex;
  justify-content: space-between;
}

.popup {
  padding: 70px 38px;
}
.popup h4 {
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #202125;
}
.popup p {
  text-align: center;
  font-size: 19px;
  color: #57656d;
}

.catalog .title {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 40px;
  color: #141c20;
  margin-bottom: 41px;
}
.catalog .list__categories {
  display: grid;
  grid-template: repeat(2, 480px)/7fr 5fr;
  gap: 24px;
  margin-bottom: 63px;
}
.catalog .list__categories .category__item {
  overflow: hidden;
  position: relative;
}
.catalog .list__categories .category__item .category__item_title {
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  width: 210px;
  position: absolute;
  top: 22px;
  left: 42px;
  line-height: 1.48;
}
.catalog .list__categories .category__item .category__item_title::after {
  content: "";
  position: absolute;
  background: url("/img/after_accent.svg");
  width: 112px;
  height: 4px;
  bottom: -10px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.catalog .list__categories .category__item:hover .category__item_title::after {
  opacity: 1;
}
.catalog .list__categories .category__item.item-2 .category__item_title {
  left: unset;
  right: 47px;
  text-align: right;
}
.catalog .list__categories .category__item.item-2 .category__item_title::after {
  right: 0;
  left: unset;
}
.catalog .list__categories .category__item.item-1 .category__item_title {
  top: unset;
  bottom: 36px;
}
.catalog .list__categories .item-2 {
  grid-row: 1/span 2;
  grid-column: 2/span 2;
}
.catalog .list__categories .category__item_pict {
  width: 100%;
  object-fit: contain;
}
.catalog .list__categories .category__item.item-2 .category__item_pict {
  height: 100%;
  width: unset;
  object-fit: cover;
}
.catalog .product-item-list-col-4 {
  margin-bottom: 30px;
}

.catalog_description {
  margin-bottom: 41px;
}
.catalog_description_text {
  max-width: 903px;
}
.catalog_description .section__title {
  font-weight: 700;
  font-size: 40px;
  color: #055b8c;
}

.bx-filter input[type=checkbox] + label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.bx-filter input[type=checkbox] + label::before {
  border-color: #57656d;
  width: 17px;
  height: 17px;
}
.bx-filter input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #055b8c;
  right: 12px;
}
.bx-filter span.bx-filter-parameters-box-hint {
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: #141c20;
}

.product-item-container {
  max-width: 270px;
}

.product-item {
  position: relative;
  transition: box-shadow 0.3s;
}
.product-item:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 16px 16px 0 rgba(0, 0, 0, 0.05), 0 32px 32px 0 rgba(0, 0, 0, 0.05), 0 0 64px 0 rgba(0, 0, 0, 0.05);
}
.product-item:hover .product-item-chacteristics {
  visibility: visible;
  opacity: 1;
}
.product-item .product-item-label-text {
  position: absolute;
  top: 1px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 2;
}
.product-item .product-item-label-text .label {
  line-height: 30px;
  background-color: #DD5625;
  border-radius: 0;
  text-transform: uppercase;
  z-index: 2;
  text-align: center;
}
.product-item .product-item-label-text .label-IS_NEW {
  background-color: #0A8B43;
}

.product-item-title-wrapper {
  text-align: center;
  padding: 17px 11px 19px;
  background-color: white;
}
.product-item-title-wrapper .product-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  text-align: center;
  color: #57656d;
  margin-bottom: 10px;
}
.product-item-title-wrapper .btn {
  border: 1px solid #055b8c;
  background-color: white;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  color: #055b8c;
  border-radius: 0;
  padding: 15px;
  width: 180px;
}
.product-item-title-wrapper .btn:hover {
  background-color: #055b8c;
  color: #ffffff;
}

.product-item-image-original {
  position: relative;
}
.product-item-image-original img {
  width: 100%;
}
.product-item-image-original .product-item-chacteristics {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(5, 91, 140, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.product-item-image-original .product-item-chacteristics-title {
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
}
.product-item-image-original .product-item-chacteristics-wrapper {
  padding: 31px 17px;
}
.product-item-image-original .product-item-chacteristics .chacteristic-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b9c6cd;
  font-weight: 500;
  font-size: 12px;
  line-height: 250%;
  color: #ffffff;
}
.product-item-image-original .product-item-image-original img {
  width: 100%;
}

.bx_pagination_page {
  text-align: center;
}
.bx_pagination_page ul {
  display: inline-flex;
}
.bx_pagination_page ul li {
  padding: 14px 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #141c20;
  border: 1px solid #b9c6cd;
}
.bx_pagination_page ul li.bx_active {
  background-color: #055b8c;
  color: #ffffff;
  border-color: #055b8c;
}
.bx_pagination_page .pag_arrow {
  width: 16px;
  height: 18px;
}
.bx_pagination_page span.to_right,
.bx_pagination_page span.to_left {
  border-left: 16px solid #055b8c;
  display: inline-block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  vertical-align: middle;
}
.bx_pagination_page span.to_left {
  border-right: 16px solid #055b8c;
  display: inline-block;
  border-left: 0;
}

.catalog {
  margin-bottom: 42px;
}
.catalog h1 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 16px;
}
.catalog .product-item-detail-main-info {
  margin-bottom: 44px;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square {
  position: relative;
  width: 547px;
  height: 472px;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-label-text.product-item-label-big.product-item-label-top.product-item-label-right {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-label-text.product-item-label-big.product-item-label-top.product-item-label-right span {
  background-color: #DD5625;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-label-text.product-item-label-big.product-item-label-top.product-item-label-right .IS_HIT {
  background-color: #DD5625;
  padding: 6px 8px;
  text-align: center;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-label-text.product-item-label-big.product-item-label-top.product-item-label-right .IS_HIT span {
  background-color: inherit;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-label-text.product-item-label-big.product-item-label-top.product-item-label-right .IS_NEW {
  background-color: #0A8B43;
  padding: 6px 8px;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-label-text.product-item-label-big.product-item-label-top.product-item-label-right .IS_NEW span {
  background-color: inherit;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-detail-slider-images-container {
  height: inherit;
  overflow: hidden;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-detail-slider-images-container .product-item-detail-slider-image {
  text-align: center;
  height: inherit;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-detail-slider-images-container .product-item-detail-slider-image img {
  height: inherit;
  object-fit: cover;
}
.catalog .product-item-detail-slider-block.product-item-detail-slider-block-square .product-item-detail-slider-images-container .product-item-detail-slider-image .product-item-detail-slider-image-link {
  cursor: zoom-in;
}
.catalog .product-item-detail-info-section {
  margin-bottom: 24px;
}
.catalog .product-item-detail-info-section .product-item-detail-detail-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  color: #57656d;
}
.catalog .calculate-button {
  width: 100%;
  height: 50px;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  background-color: #055b8c;
  color: #ffffff;
  border: 0;
  margin-bottom: 14px;
}
.catalog .product-item-detail-properties .product-item-detail-info-container-title {
  font-weight: 800;
  font-size: 16px;
}
.catalog .product-item-detail-properties .properties-link {
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #055b8c;
}
.catalog .char-item {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid #b9c6cd;
}
.catalog .char-item dt,
.catalog .char-item dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #57656d;
}
.catalog .slider {
  margin-bottom: 63px;
}
.catalog .slider .slider-section-title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 3px;
}
.catalog .slider .slick-arrow {
  position: absolute;
  z-index: 3;
  top: 50%;
  cursor: pointer;
  line-height: 0;
}
.catalog .slider .slick-prev {
  left: 0;
  transform: translate(-200%, -50%);
}
.catalog .slider .slick-next {
  right: 0;
  transform: translate(200%, -50%);
}
.catalog .slider .slider-item .slider-item-pict {
  object-fit: cover;
  height: 261px;
  width: 95%;
}
.catalog .charakteristics {
  margin-bottom: 57px;
}
.catalog .charakteristics .product-item-charakteristics-title {
  font-weight: 400;
  font-size: 40px;
}
.catalog .charakteristics .product-item-group-wrapper {
  margin-bottom: 14px;
}
.catalog .charakteristics .product-item-group-char {
  font-weight: 800;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.catalog .charakteristics .product-item-schema {
  text-align: right;
}
.catalog .charakteristics .product-item-schema .schema-pict {
  width: 579px;
  height: 418px;
  object-fit: cover;
  cursor: pointer;
}
.catalog .add-items .product-item-add-items-title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 43px;
}
.catalog .add-items .product-item-container {
  max-width: unset;
}
.catalog .add-items .product-item-image-original img {
  width: 100%;
}
.catalog .add-items {
  margin-bottom: 0;
}

.projects h1 {
  font-weight: 500;
  font-size: 40px;
  color: #141c20;
  margin-bottom: 29px;
}
.projects .news-list-item {
  margin-bottom: 30px;
}
.projects .news-list-item .box_pict {
  position: relative;
  margin-bottom: 12px;
}
.projects .news-list-item .box_pict .pict_magnify {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transition: opacity 0.3s;
  transform: translate(-50%, -50%);
}
.projects .news-list-item .card .box_pict::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s;
  z-index: 2;
}
.projects .news-list-item .card:hover .box_pict::after {
  opacity: 1;
}
.projects .news-list-item .card:hover .pict_magnify {
  opacity: 1;
}
.projects .news-list-item .card-text {
  font-weight: 400;
  font-size: 13px;
  color: #000;
}
.projects .card-img-top {
  width: 100%;
}

.news h1,
.about h1 {
  font-weight: 600;
  font-size: 40px;
  color: #141c20;
  margin-bottom: 29px;
}
.news .first-section,
.about .first-section {
  margin-bottom: 60px;
}
.news .news-item,
.about .news-item {
  margin-bottom: 42px;
}
.news .news-detail-detail-text,
.about .news-detail-detail-text {
  margin-bottom: 29px;
}
.news .arrow-name,
.about .arrow-name {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #055b8c;
}
.news .arrows span,
.about .arrows span {
  vertical-align: middle;
}
.news .arrow,
.about .arrow {
  display: inline-block;
  height: 18px;
  width: 15px;
  border: 9px solid transparent;
}
.news .next,
.about .next {
  border-right: 15px solid #055b8c;
  margin-right: 10px;
}
.news .prev,
.about .prev {
  border-left: 15px solid #055b8c;
  margin-left: 10px;
}

.about .dilers_map {
  margin-bottom: 46px;
}
.about .main-office {
  margin-bottom: 60px;
}
.about .main-office .title {
  font-weight: 300;
  font-size: 40px;
  padding-top: 38px;
  margin-bottom: 6px;
}
.about .main-office .address {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}
.about .main-office .contact-item {
  margin-bottom: 17px;
  line-height: 24px;
  font-size: 16px;
}
.about .main-office-pict {
  width: 100%;
}
.about .smart-filter-input-group-dropdown {
  height: unset;
}
.about .smart-filter-dropdown-block {
  padding: 14px 29px 14px 23px;
  background: transparent;
}
.about #about-map {
  height: 544px;
}
.about .news-item {
  padding: 13px 0;
  border-bottom: 1px solid #B9C6CD;
  margin: 0;
}
.about .news-item.active .news-item-title {
  color: #055b8c;
}
.about .news-item .news-item-title {
  color: #141c20;
}
.about .news-item-info {
  display: none;
}
.about .news-item-info .PHONES {
  font-weight: 700;
  color: #055b8c;
}
.about .news-item-info .SITE {
  font-weight: 700;
  color: #055b8c;
  text-decoration: underline;
}
.about .form .title {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 32px;
}
.about .form .form-item {
  flex-grow: 1;
}
.about .form .form-item input {
  width: 100%;
}
.about .third-section {
  display: none !important;
}

.technical-info .third-section {
  display: none;
}

.popup-window {
  background-color: #E4E4E4;
}
.popup-window .smart-filter-dropdown-popup {
  background-color: inherit;
}
.popup-window .smart-filter-dropdown-label.selected {
  background-color: #055b8c;
  color: #ffffff;
}
.popup-window .smart-filter-dropdown-popup ul li label:hover {
  background-color: #055b8c;
  color: #ffffff;
}

.fault404 .content-fault {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fault404 .title {
  font-weight: 700;
  font-size: 200px;
  text-align: center;
  color: #055b8c;
}
.fault404 .description {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
}
.fault404 .description a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #055b8c;
}

@media (max-width: 768px) {
  .anonce {
    background-color: #e4e4e4;
    padding-bottom: 0;
    margin-bottom: 33px;
  }
  .section__news {
    padding-top: 0;
    margin-bottom: 33px;
  }
  .section__news .news-item {
    margin-bottom: 33px;
  }
  .section__wrapper {
    margin-bottom: 33px;
  }
  .footer .footer__top .footer__first_section .section_wrapper {
    flex-grow: 1;
  }
}
@media (max-width: 561px) {
  .container {
    padding-left: 23px;
    padding-right: 23px;
  }
  .anonce .category__item_title {
    font-size: 12px;
  }
  .section__about {
    margin-bottom: 70px;
  }
  .section__about .about-pict {
    width: 100%;
    margin-bottom: 48px;
  }
  .section__about .section__content {
    width: 100%;
  }
  .section__about .section__wrapper .section__title {
    margin-bottom: 31px;
  }
  .section__about .section__wrapper .section__title::after {
    bottom: -16px;
  }
  .section__about .section__title {
    font-weight: 400;
    font-size: 40px;
    color: #141c20;
  }
  .section__about .contacts {
    display: block;
  }
  .section__about .contacts #map {
    width: 100%;
    height: 194px;
    margin-bottom: 12px;
  }
  .section__about .contacts .contacts__info_title {
    display: none;
  }
  .section__about .contacts .contacts__info_address {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #141c20;
    width: 80%;
    margin-bottom: 12px;
  }
  .section__about .contacts .contacts__info_items {
    -webkit-column-gap: 14px;
    -moz-column-gap: 14px;
    column-gap: 14px;
  }
  .catalog .list__categories {
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr;
    grid-template: repeat(3, 300px)/1fr;
  }
  .catalog .list__categories .category__item.item-0,
  .catalog .list__categories .category__item.item-1,
  .catalog .list__categories .category__item.item-2 {
    grid-row: unset;
    grid-column: unset;
  }
  .catalog .list__categories .category__item.item-0 .category__item_title,
  .catalog .list__categories .category__item.item-1 .category__item_title,
  .catalog .list__categories .category__item.item-2 .category__item_title {
    top: 30px;
    right: 47px;
    bottom: unset;
    left: unset;
    text-align: right;
  }
  .catalog .list__categories .category__item .category__item_title::after {
    opacity: 1;
    right: 0;
    left: unset;
  }
  .catalog .list__categories .category__item_pict {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .catalog .list__categories .category__item.item-2 .category__item_pict {
    width: unset;
    height: unset;
    object-fit: unset;
  }
  .section__form .form__title {
    font-size: 37px;
    line-height: 114%;
  }
  .section__form .form__decription {
    margin-bottom: 32px;
  }
  .section__form .form__inputs {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    row-gap: 15px;
    margin-bottom: 31px;
  }
  .section__form .form__inputs input {
    width: 100%;
  }
  .section__form .form__inputs .form__checkbox {
    font-size: 12px;
  }
  .footer .footer__top .footer__first_section .section_wrapper {
    flex-grow: 1;
  }
  .footer .footer__top .footer__phone {
    font-size: 16px;
    font-weight: 700;
  }
  .footer__fourth_section {
    padding-top: 18px;
  }
  .footer__bottom_inner {
    flex-direction: column;
  }
  .catalog .product-item-list-col-4 {
    margin-bottom: 0;
  }
  .product-item:hover .product-item-chacteristics {
    display: none;
  }
  .product-item-container {
    margin-bottom: 25px;
  }
  .product-item-container .product-item-title-wrapper {
    padding: 10px 0;
  }
  .product-item-container .product-item-title-wrapper .btn {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 30px;
  }
  .product-item-container .product-item-title-wrapper .product-item-title {
    font-size: 14px;
    line-height: 107%;
    color: #57656d;
  }
  .bx_pagination_page ul li {
    padding: 11px 18px;
  }
  .section__decription {
    margin-top: 25px;
  }
  .container-fluid .bx-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 125%;
  }
  .catalog .product-item-detail-slider-block.product-item-detail-slider-block-square {
    height: 294px;
    width: 100%;
  }
  .catalog .slider .slick-next {
    right: 10px;
  }
  .catalog .slider .slick-prev {
    left: 10px;
  }
  .catalog .charakteristics .product-item-schema .schema-pict {
    width: 100%;
    height: auto;
  }
  .catalog .add-items .product-item-add-items-title {
    font-weight: 400;
    font-size: 26px;
  }
  .news .arrow-name,
  .about .arrow-name {
    font-size: 10px;
  }
}
form a {
  text-decoration: underline;
}

#modef {
  padding: 5px;
  border: 1px solid #055b8c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #57656d;
}

/*# sourceMappingURL=template_styles.css.map */
